/*
styles.css
*/

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
}
.hide {
	display: none;
}

header, h2, h2 button, #randomizer, #randomizer button {
	background-color: #dddde0;
}
h2 button, li button {
	border: 0;
}
li button {
	background-color: white;
}

#randomizer button {
	margin: auto;
	display: block;
}
#output {
	text-align: center;
}

#danger_zone button {
	color: #dd1111;
}

/* mobile viewport */
@media (max-width: 999px) {
	body {
		padding: 1vw;
	}
	header {
		padding: 1vw;
		margin-bottom: 3vw;
	}
	header h1 {
		font-size: 10vw;
	}
	h2, #randomizer {
		padding: 1vw;
		margin-top: 1vw;
		margin-bottom: 1vw;
	}
	#log {
		font-size: 3.5vw;
		margin-bottom: 1vw;
	}
	h2 button {
		font-size: 4vw;
	}
	
	.freebutton, #reveal_unviewed, #danger_zone button, #settings button {
		margin-left: 1vw;
		font-size: 3vw;
		margin-bottom: 1vw;
		padding: 0.5vw;
	}
	li, #series_details li button{
		font-size: 3.5vw;
	}
	
	#randomizer button {
		width: 60%;
		aspect-ratio: 4/1;
		font-size: 5vw;
	}
	#output {
		font-size: 4vw;
		margin-bottom: 1vw;
	}
	#settings ul {
		list-style-type: none;
		margin-left: 1vw;
	}

	#series_details ul {
		margin-left: 5vw;
	}
	h4 {
		font-size: 4vw;
		margin: 0.5vw;
	}
}

/* desktop viewport */
@media (min-width: 1000px) {
	
	body {
		padding: 7px;
	}

	header, h2, #randomizer {
		padding: 3px;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	#log {
		
	}

	#reveal_unviewed, #danger_zone button, #settings button {
		padding: 2px;
	}
	#reveal_unviewed, #danger_zone button, #settings, #series_details {
		margin: 5px;
	}
	
	#randomizer {
		width: 400px;
	}
	#randomizer button {
		width: 200px;
		height: 50px;
	}
	#output {
		margin-bottom: 7px;
	}
	#settings ul {
		list-style-type: none;
	}
	#settings button {
		margin-bottom: 5px;
	}

	#series_details ul {
		margin-left: 20px;
	}
	h4 {
		margin: 5px;
	}
	
}
