/*
styles.css
23/12/04
Grey Keenan
*/

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/*Mobile Viewport, by default*/
.desktop {
	display: none;
}
.mobile {
	display: block;
}

#mobile_nav {
	display: none;
}

/* Desktop Viewport*/
@media all and (min-width: 1000px) {
	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}
	
}