/*
styles.css
*/

/* CSS Reset
* {
	margin: 0;
	padding: 0;
	border: 0;
} */

.hide {
	display: none;
}

header, #randomizer, h3 {
	background-color: #dddddd;
}

#settings ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.randomizer_button {
	display: block;
	margin: auto;
}
#output {
	text-align: center;
}

/* mobile viewport */
@media (max-width: 999px) {
	h1 {
		font-size: 10vw;
	}

	#settings ul {
		font-size: 5vw;
		padding-bottom: 3%;
	}

	#settings button {
		width: 10%;
		aspect-ratio: 2/1;
		font-size: 3vw;
	}

	.randomizer_button {
		width: 60%;
		aspect-ratio: 4/1;
		font-size: 5vw;
	}

	#output {
		font-size: 4vw;
	}


}

/* desktop viewport */
@media (min-width: 1000px) {
	
	#settings {
		margin-left: 1%;
		font-size: 20px;
		padding-bottom: 1%;
	}
	
	#randomizer {
		width: 40%;
		display: block;
		margin-left: 5%;
		aspect-ratio: 4/1;
	}
	.randomizer_button {
		width: 25%;
		font-size: 1.5vw;
		aspect-ratio: 6/1;
	}
	#output {
		font-size: 1.3vw;
	}
}
